.info {
    padding-top: 0;
}

.info__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--primary-text-color-dark);
}

.work {
    display: flex;
    justify-content: space-between;
    position: relative;
}.product__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    color: #ffffff;
}

.product {
    position: absolute;
    display: block;
    width: 370px;
    height: 70px;
    bottom: 0;
    @extend %align;
    background: rgba(47, 48, 58, 0.8);
}