.team {
    background-color: #f5f4fa;
}

.team-name {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employees {
    display: flex;
    gap: 30px;
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--primary-text-color-dark);
}

.team-name__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    color: var(--primary-text-color-dark);
}

.employees__info {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}

.team-name__info {
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;

    color: var(--secondary-text-color-dark);
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social__link {
    @extend %align;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
   &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}

.social__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .social__link:hover &,
        .social__link:focus & {
            fill: #ffffff;
        }
}



